# Копировать в .env и заполнить
BASE_URL=http://localhost:5173
API_URL=http://localhost:8090
ADMIN_LOGIN=admin
ADMIN_PASSWORD=admin
# Для multi-user тестов (чат между двумя юзерами):
USER2_LOGIN=test1
USER2_PASSWORD=test1
