/* CRUD Permissions Wrapper */
.wrapper {
  background-color: var(--mantine-color-gray-1);
  border: 1px solid var(--mantine-color-gray-2);
  display: inline-flex;
  cursor: default;
}

.wrapper[data-compact] {
  padding: 2px;
}

[data-mantine-color-scheme='dark'] .wrapper {
  background-color: var(--mantine-color-dark-5);
  border-color: var(--mantine-color-dark-4);
}

/* Иконки */
.icon {
  pointer-events: none;
}

.icon:not([data-active]) {
  opacity: 0.4;
}
