.toggle {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-4));

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-5)
    );
  }
}
